Flask==3.0.3
Flask-Session==0.8.0
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.141.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.63.2
twilio==9.2.3
python-dotenv==1.0.1
pdfplumber==0.11.4
